<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:context="http://www.springframework.org/schema/context" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
		http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml" />

	<context:property-placeholder location="classpath:spring-dfacrs-ws.properties" />

	<context:component-scan base-package="com.dfacrs" />

	<tx:annotation-driven />
	<jpa:repositories base-package="com.dfacrs.repository" />

	<util:map id="confirmationReportingServiceMap">
		<entry key="#{T(com.dfacrs.object.Destination).ICE}"><ref bean="ICE" /></entry>
		<entry key="#{T(com.dfacrs.object.Destination).DTCC}"><ref bean="DTCC" /></entry>
		<entry key="#{T(com.dfacrs.object.Destination).CME}"><ref bean="CME" /></entry>
	</util:map>

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${hibernate.connection.driver_class}" />
		<property name="url" value="${hibernate.connection.url}" />
		<property name="username" value="${hibernate.connection.username}" />
		<property name="password" value="${hibernate.connection.password}" />
		<property name="defaultAutoCommit" value="true" />
	</bean>

	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="database" value="${hibernate.connection.database}" />
				<property name="showSql" value="${hibernate.showSql}" />
				<property name="generateDdl" value="${hibernate.generateDdl}" />
			</bean>
		</property>
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
		<property name="jpaDialect">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaDialect" />
		</property>
	</bean>
	
	<jaxws:endpoint id="confirmationReportingWebservice" implementor="com.dfacrs.ws.ConfirmationReportingWebserviceImpl"
		address="/ConfirmationReportingWebservice" />

</beans>
